<!DOCTYPE html>
<html lang="en">
<head>
    {% extends 'main.html' %}
    <meta charset="UTF-8">
    <title>{{ restaurant.name }} Details</title>
</head>
<body>

{% block content %}

    <h2>{{ restaurant.name }} - Average Rating: {{ restaurant.average_rating }}</h2>
    <p>Address: {{ restaurant.address }}</p>
    <p>Cuisine: {{ restaurant.get_cuisine_display }}</p>
{#    if no pricing records, hide this #}
    {% if restaurant.get_restaurant_pricing_category_eval %}
    <p>Pricing: {{ restaurant.get_restaurant_pricing_category_eval }}</p>
    {% endif %}

{#    if not authorized and if no values exists, hide this #}
{% if user.is_authenticated %}
    {% if visit_count %}
        <p>Visited: {{ visit_count }}x</p>
    {% endif %}

    {% if total_spending %}
        <p>Total Spending: ${{ total_spending }}</p>
    {% endif %}
{% endif %}

{% endblock content %}
</body>
</html>