<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
{% extends 'main.html' %}

{% block content %}

    <h2>All Restaurants</h2>
    <ul>
        {% for restaurant in restaurants %}
            <li>
                {{ restaurant.name }}
                {% if user.is_authenticated and user == restaurant.created_by %}
                    - <a href="{% url 'edit_restaurant' restaurant.id %}">Edit</a> <a href="{% url 'delete_restaurant' restaurant.id %}">Delete</a>
                {% endif %}
            </li>
        {% endfor %}
    </ul>

{% endblock content %}
</body>
</html>