<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% extends 'main.html' %}

{% block content %}
    <h2>Your Visits</h2>
    <ul>
        {% for visit in user_visits %}
            <li>
                {{ visit.date }},
                {% if visit.restaurant_id %}
                    <a href="{% url 'restaurant_detail' visit.restaurant.id %}">{{ visit.restaurant }}</a>
                {% else %}
                    Deleted Facility
                {% endif %}
                - ${{ visit.spending }}
            </li>
        {% endfor %}
    </ul>
{% endblock content %}
</body>
</html>