<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Restaurant Reviews</title>

    <script src="https://kit.fontawesome.com/86fd3fc0e8.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>
{% include 'navbar.html' %}

{% if messages %}
  <ul class="messages">
    {% for message in messages %}
      <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
    {% endfor %}
  </ul>
{#  <script>#}
{#    setTimeout(function() {#}
{#      var messages = document.getElementsByClassName('messages')[0];#}
{#      messages.style.opacity = 0;#}
{#      setTimeout(function() {#}
{#        messages.style.display = 'none';#}
{#      }, 500);#}
{#    }, 2000);#}
{#  </script>#}
{% endif %}

{% block content %}

{% endblock content %}

</body>
</html>